<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h4>Owner ID: <%= @data[:owner_id] %></h4>
      <h4>Owner Name: <%= @data[:owner_name] %></h4>
      <h4>Value: <%= @data[:value] %></h4>
    </div>
  </div>

</div>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
